body, html {
  height: 100%;
  line-height: 1.8;
  font-family:Verdana,sans-serif;
}
.mainbox{
	padding: 10%;
}
.bodybox{
	background-color: #f5f5f5;
	padding-right: 3%;
	padding-left: 3%;
	padding-bottom: 3%;
	padding-top: 3%;}
p{
	color:gray; 
   	font-size: 20px;
    	font-family: Arial, sans-serif;
    	line-height: 155%;}

  
.picture{
	padding: 3px; /* quote box has different padding levels to make it left justified from center */
	flex: 25%;

}
  @media (max-width: 1400px){ /*Responsive */
	.bodybox{
		flex-direction: column;
	  }}

@media (max-width: 900px){
	.pastprojects, .imgteam{
		max-width: 100%;
		padding: 5%;
	}

}
