body, html {
  height: 100%;
  line-height: 1.8;
  font-family:Verdana,sans-serif;
}
.mainbox{
	padding: 10%;
}
.bodybox{
	background-color: #d9d9d9;
	padding-right: 3%;
	padding-left: 3%;
	padding-bottom: 3%;
	padding-top: 3%;}
p{
	color:#353535;}
  
  @media (max-width: 1400px){ /*Responsive */
	.bodybox{
		flex-direction: column;
	}
